*~
.cproject
.project
.vscode
O.*
bin
include
lib
db
dbd
data
iocs/lab
iocs/gui
iocs/lab-ppmac
.idea
cmake-build-debug/
*.pyc
deleteme
.pytest_cache
.cache
*.out
*.o
*.log
#etc/PowerClipper/
#etc/LabPowerPmac/
#etc/LabPowerPmac_Backup/
.nfs*
**/venv27
