*~
.cproject
.project
O.*
bin
include
lib
db
dbd
data
iocs/lab
iocs/gui
iocs/lab-ppmac
.idea
CMakeLists.txt
cmake-build-debug/
*.pyc
deleteme
.pytest_cache
etc/LabPowerPmac/172.23*
etc/LabPowerPmac/.vs
etc/LabPowerPmac/Log/

