substitute "AXIS=1"
include "pmacStatusAxis.template"
substitute "AXIS=2"
include "pmacStatusAxis.template"
substitute "AXIS=3"
include "pmacStatusAxis.template"
substitute "AXIS=4"
include "pmacStatusAxis.template"
substitute "AXIS=5"
include "pmacStatusAxis.template"
substitute "AXIS=6"
include "pmacStatusAxis.template"
substitute "AXIS=7"
include "pmacStatusAxis.template"
substitute "AXIS=8"
include "pmacStatusAxis.template"
substitute "AXIS=9"
include "pmacStatusAxis.template"
substitute "AXIS=10"
include "pmacStatusAxis.template"
substitute "AXIS=11"
include "pmacStatusAxis.template"
substitute "AXIS=12"
include "pmacStatusAxis.template"
substitute "AXIS=13"
include "pmacStatusAxis.template"
substitute "AXIS=14"
include "pmacStatusAxis.template"
substitute "AXIS=15"
include "pmacStatusAxis.template"
substitute "AXIS=16"
include "pmacStatusAxis.template"
substitute "AXIS=17"
include "pmacStatusAxis.template"
substitute "AXIS=18"
include "pmacStatusAxis.template"
substitute "AXIS=19"
include "pmacStatusAxis.template"
substitute "AXIS=20"
include "pmacStatusAxis.template"
substitute "AXIS=21"
include "pmacStatusAxis.template"
substitute "AXIS=22"
include "pmacStatusAxis.template"
substitute "AXIS=23"
include "pmacStatusAxis.template"
substitute "AXIS=24"
include "pmacStatusAxis.template"
substitute "AXIS=25"
include "pmacStatusAxis.template"
substitute "AXIS=26"
include "pmacStatusAxis.template"
substitute "AXIS=27"
include "pmacStatusAxis.template"
substitute "AXIS=28"
include "pmacStatusAxis.template"
substitute "AXIS=29"
include "pmacStatusAxis.template"
substitute "AXIS=30"
include "pmacStatusAxis.template"
substitute "AXIS=31"
include "pmacStatusAxis.template"
substitute "AXIS=32"
include "pmacStatusAxis.template"
