substitute "AXIS=1"
include "pmacStatusAxis.template"
substitute "AXIS=2"
include "pmacStatusAxis.template"
substitute "AXIS=3"
include "pmacStatusAxis.template"
substitute "AXIS=4"
include "pmacStatusAxis.template"
substitute "AXIS=5"
include "pmacStatusAxis.template"
substitute "AXIS=6"
include "pmacStatusAxis.template"
substitute "AXIS=7"
include "pmacStatusAxis.template"
substitute "AXIS=8"
include "pmacStatusAxis.template"
