
#% macro, name, gui entry
#% macro, P, prefix
#% macro, Q, suffix
#% macro, PORT, Controller
#% gui, $(name), edm, pmacDeferMoves.edl, P=$(P),Q=$(Q)

record(bo, "$(P):$(Q)")
{
    field(DESC, "Binary Output")
    field(DTYP, "asynInt32")
    field(ONAM, "ON")
    field(OUT,  "@asyn($(PORT),0)MOTOR_DEFER_MOVES")
    field(SCAN, "Passive")
    field(VAL,  "0")
    field(ZNAM, "OFF")
}

